<!-- home.html -->
<div class="jumbotron text-center">

    <h1>Sign in to Noteshare</h1>

  <br/>
  <!-- https://docs.angularjs.org/api/ng/directive/ngSubmit -->

  <div ng-app="noteshareApp" ng-controller="signinController">
      <form ng-submit="submit()"">
        User name: <input type="text" ng-model="username">
        <br/><br/>
        Password: <input type="text" ng-model="password">
        <br/><br/>
        <input type="submit" id="submit" value="Sign in" />
      </form>

      {{ message }}

      <br/>
      <a href="#signup"><i class="fa fa-signup"></i>Need a new account?</a>
  </div>





</div>
